#leftCol, #centreCol{
	width: 49.8%;
	padding-bottom: 3em;
	border: 0.1em solid #c0c0c0;
}
@media screen and (max-width: 900px){
	#leftCol, #centreCol{
		border: 0;
		width: 100%;
		display: block;
	}
	.productInfo{
		width: 100%;
		display: block;
		overflow: scroll;
	}
}
#bottomCol{
	width: 100%;
}
.outerColDiv{
	margin-left: 2.5em;
}
h3{
	display: inline;
}
.info{
	text-decoration: none;
	text-align: center;
	color: #ffffff;
	margin: 0 5.5em 0 5em;
}